{% extends 'bets/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <img src="../../static/bets/images/logo.jpg">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <br>
                <br>
                <h1>Bets by Boss<br><small><i>build on self success</i></small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h4><i>FAQ</i></h4>
                <p>
                    <b><i> - How can I get access to "Paid Bets" section?</i></b><br>
                     - You should buy subscription.
                </p>
                <p>
                    <b><i> - Where can I make a bet?</i></b><br>
                     - You can make it on <a href="http://egb.com">egb.com</a>.
                </p>
                <p>
                    <b><i> - What is your win rate?</i></b><br>
                     - It differs from day to day but on a distance it is ~65%.
                </p>
                <p>
                    <b><i> - Are you interested in other forms of collaboration?</i></b><br>
                     - Yes, send your requests to <a href="mailto:betsbybigboss@gmail.com">betsbybigboss@gmail.com</a>.
                </p>
                <p><br></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}