{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;"><span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li><a href="{% url 'articles' %}">Статьи</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="{% static 'bets/images/logo.jpg' %}">
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                <br>
                <br>
                <h1>Bets by Boss</h1>
                <br>
                <br>
                <a href="https://vk.com/betsbyboss">
                    <img src="{% static 'bets/images/vk.png' %}" style="width: 40px">
                    live-прогнозы на матчи Dota 2 в группе
                </a>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <p>
                    <br>
                    В сообществе Bets by Boss мы предоставляем качественную предматчевую
                    и live аналитику на матчи Dota 2. Внашем сообществе вы сможете найти
                    много интересной информации о том, как делать прибыльные ставки на
                    Dota 2, аналитические статьи, прогнозы на предстоящие матчи Dota 2.
                </p>
                <p>
                    Также у нас вы сможете получить live аналитику на игры Dota2.
                    Мы единственные в СНГ, кто дает live ставки на матчи Dota 2 с
                    высоким винрейтом! Наша команда аналитиков проводит детальный
                    анализ каждой встречи, что дает нам возможность делать live ставки
                    на Dota 2 c высокой проходимостью.
                </p>
                <p>
                    Мы используем специальные программы для анализа матчей,
                    что позволяет нам получать точные прогнозы и
                    стабильно зарабатывать деньги на ставках на Dota 2.
                </p>
                <p>
                    Ежедневно мы публикуем прогнозы на Dota 2 матчи, а также даем
                    live ставки на Dota2 прямо во время игры!
                </p>
                <p>
                    Присоединяйся к нашему сообществу и зарабатывай на ставках
                    на матчи Dota 2 вместе с нами!
                </p>
                <p>
                    По всем вопросам и предложениям о сотрудничестве пишите на
                    <a href="mailto:betsbyboss@gmail.com">betsbyboss@gmail.com</a>
                </p>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>
        </div>
    </div>
{% endblock %}
