{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}">

                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;">
                        </a>
                    </li>
                    <li class="active"><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li><a href="{% url 'articles' %}">Статьи</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img src="{{ object.crunch_image_path }}" class="img-fluid">
                <h3>
                    {{ object.team_1 }} vs {{ object.team_2 }} {{ object.tournament_name }}<br>
                    <small>{{ object.str_time }}</small>
                </h3>
                <p>{{ object.text }}</p>
                <p>Все live ставки на матчи Dota 2 на The Boston Major я буду давать вам в нашей группе ВК: <a href="https://vk.com/betsbyboss">vk.com/betsbyboss.</a>
</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock %}