{% extends 'bets/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% for article in articles %}
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-2">
                            <h3>{{ article.title }}</h3>
                        </div>
                        <div class="col-lg-6 col-lg-offset-2">
                            <small><i>{{ article.date }}</i></small>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <br>
                            <p>{{ article.text }}</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-3">
                <a href="https://ggbetpromo.com/l/5828a69a7fb3bcaa6e9f4057">
                    <img src="{% static 'bets/vertical_banner_articles.jpg' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
