<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bets By Boss</title>
    <link href="../../static/bets/style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">BetsByBoss</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          <li>
              <a href="#">Free Forecasts</a>
            </li>
            <li>
              <a href="#">Paid Forecasts</a>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>

        </div>
      </div>
    </div>




    {% block content %}
    <div class="container">



    {% endblock %}


        <div class="container-fluid panel-footer">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-xs-12 col-sm-7">
                    <br>
                    <p class="text-muted">Bets By Boss</p>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <br>
                    <p class="text-muted">Copyright 2016(c)</p>
                    <br>
                </div>
            </div>
        </div>


</body>
</html>