{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}">

                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;">
                        </a>
                    </li>
                    <li><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li class="active"><a href="{% url 'articles' %}">Статьи</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-8 col-lg-6">
                <h1>The Boston Major</h1>
                <p>
                    Третьего декабря в Бостоне стартует
                    последний Мажор этого календарного года!
                </p>
                <p>
                    Во время проведения данного турнира мы будем давать
                    live аналитику на большинство Dota 2 матчей!
                </p>
                <p>
                    А пока наша команда аналитиков решила проанализировать,
                    в какой форме каждая из команд подходит к главному
                    событию этой зимы на Dota 2 про-сцене, и дать
                    предварительный прогноз на The Boston Major!
                </p>
                <h2>Китай</h2>
                <h3>Wings Gaming</h3>
                <p>
                    После победы на TI6 крылышки решили сохранить состав,
                    что не может не радовать всех фанатов этого коллектива.
                    Wings уверенно выступили на всех турнирах, в которых
                    они принимали участие после TI6, однако им не удалось
                    одержать победу ни на одном из них.
                </p>
                <p>
                    В любом случае, Wings набирают ту форму, в которой они
                    были на TI6, и являются одним из основных претендентов
                    на победу в Бостоне.
                </p>

                <h3>NewBee</h3>
                <p>
                    Данный коллектив претерпел значительных изменений своего
                    состава. На смену Hao и Mu на позицию Carry и Mid пришли
                    два молодых перспективных игрока - Sccc и u9, а Chuan'a
                    заменил опытный ветеран Dota2 про-сцены - Faith.
                </p>
                <p>
                    Команда достаточно неплохо начала игровой сезон и постоянно
                    прогрессирует, что делает ее претендентом на победу на Мажоре.
                </p>
                <h3>EHOME</h3>
                <p>
                    Ребята получили прямой инвайт в Бостон, однако их результаты в
                    новом сезоне пока что оставляют желать лучшего. Команда
                    пытается найти свою игру, экспериментируя с драфтом, однако им не
                    всегда это удается.
                </p>
                <p>
                    Не смотря на не лучшую форму, в EHOME собраны очень опытные игроки
                    с высоким личным скилом,поэтому не стоит списывать их со счетов.
                </p>
                <p>
                    На данный момент, я не думаю что EHOME претендуют на победу,
                    однако они способны удивить, переиграв фаворитов турнира.
                </p>

                <h3>IG.V</h3>
                <p>
                    Молодая скиловая и очень агрессивная команда стала открытие этого сезона.
                    Ребятам удалось выиграть слот на The Boston Major переиграв в решающем матче LGD.
                </p>
                <p>
                    Они также очень успешно выступают на квалификациях на другие
                    крупные турниры, что делает их грозным
                    соперником, с которым придется считаться каждой команде.

                </p>
                <p>
                    Однако, вероятнее всего, недостаток опыта выступления
                    на крупных LAN - турнирах не позволит IG.V
                    попасть в топ3 этого турнира.

                </p>

                <h3>LGD.FY</h3>
                <p>
                    "Вечно молодые" xiao8 и компания опять едут на главное
                    событие от Valve. Нельзя сказать, что они
                    подходят к этому турниру в лучшей форме, однако опыт xiao8
                    может помочь команде пройти далеко по
                    турнирной сетке.
                </p>
                <p>
                    В любом случае, LGD.FY - это команда, которая способна обыграть
                    любого соперника на этом турнире.
                </p>

                <p>
                    В итоге можно сказать, что команды из этого региона демонстрируют
                    отличную доту и готовы бороться за
                    победу на The Boston Major!
                </p>
                <p>
                    Напомним, что в этот раз турнир пройдет в формате
                    Single Elimination, поэтому места, которые займут
                    команды, будут очень сильно зависеть от того, как
                    будет выглядеть сетка турнира.
                </p>
                <p>
                    На протяжении всего ивента команда аналитиков
                    Bets by Boss будет давать live ставки на матчи the
                    Boston Major!
                </p>
                <p>
                    Во второй части этой статьи мы проанализируем
                    команды из Америки!
                </p>
                <p>
                    Присоединяйся к нашей группе ВК и получай качественную
                    live аналитику на игры The Boston Major!
                </p>
            </div>
            <div class="col-md-2 col-lg-2">
                <a href="https://ggbetpromo.com/l/5828a69a7fb3bcaa6e9f4057">
                    <img src="{% static 'bets/images/vertical_banner_articles.jpg' %}">
                </a>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
{% endblock %}