{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}">

                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;">
                        </a>
                    </li>
                    <li><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li class="active"><a href="{% url 'articles' %}">Статьи</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>The Boston Major USA</h1>
                <p>
                    Мы продолжаем наш аналитический обзор команд-участниц The Boston Major.
                </p>
                <p>
                    В предыдущих двух частях мы проанализировали команды из Китая, Европы и SEA региона, а в этой статье
                    мы рассмотрим команды из Америки.
                </p>
                <h2>EG</h2>
                <p>
                    EG заняли третье место на TI6 и получили заслуженный инвайт на The Boston Major, однако их состав
                    после TI6 существенно изменился. На смену Fear и PPD пришел Arteezy и Cr1t, последний взял на себя
                    обязанности капитана.
                </p>
                <p>
                    В обновленном составе EG уже успели выиграть один LAN и показали достойный результат на других
                    турнирах. Высочайший индивидуальный скил всех без исключения игроков команды и отличное понимание
                    игры делают EG одними из основных претендентов на победу в Бостоне.
                </p>
                <h2>NP</h2>
                <p>
                    Команда, которая сформировалась из нескольких бывших игроков Team Secret, начала игровой сезон очень
                    неуверенно, однако коллектив прогрессировал с каждой игрой и находится сейчас в отличной форме.
                </p>
                <p>
                    Высокий уровень понимания игры бывшего тренера Team Secret - 1437 и сильное микро остальных игроков
                    делают NP грозным соперником, который способен дать бой любой команде.
                    Команда также не боится экспериментировать с драфтами, что делает ее очень неудобным оппонентом.
                </p>
                <p>
                    Я бы посоветовал быть очень аккуратным со ставками на этот коллектив, потому что парни могут как за
                    20 минут раскатать фаворита, так и отдать карту аутсайдеру.
                </p>
                <h2>DC</h2>
                <p>
                    DC сенсационно заняли второе место на TI6, однако в новом сезоне пока не показали слаженной игры.
                    Однако перед TI6 была схожая ситуация.
                </p>
                <p>
                    Каждый из игроков DC имеет очень высокий личный скил и большой опыт выступления на крупных ивентах,
                    поэтому их ни в коем случае нельзя недооценивать.
                </p>
                <P>
                    Это тоже одна из тех команд, на которую я бы точно не стал делать ставку до начала встречи.
                </P>
                <p>
                    Все ставки на и против DC я буду делать только в live, чтобы снизить уровень неопределенности и
                    иметь возможность оценить ситуацию на карте.
                </p>
                <h2>Complexity</h2>
                <p>
                    Не смотря на уход трех игроков после неудачного выступления на TI6, coL не без проблем, но все же
                    удалось пройти на The Boston Major.
                </p>
                <p>
                    Команда постоянно использует неметовых героев и свои собственные стратегии, что делает их игру
                    непредсказуемой для соперника и сложной для прогнозирования.
                </p>
                <p>
                    Учитывая их не самый опытный состав и очень нестабильную игру, я считаю coL одними из аутсайдеров
                    турнира.
                </p>
                <p>
                    Однако стоит быть аккуратным, так как coL уже не раз переигрывали фаворитов, используя необычные
                    заготовки.
                </p>
                <br>
                <p>
                    Подводя итог, можно сказать что команды из американского региона (не считая EG), являются очень
                    непредсказуемыми и сложными для прогнозирования, поэтому лучшим решением будет делать live ставки на
                    матчи с их участием, предварительно проанализировав ситуацию на карте.
                </p>
                <p>
                    Все live ставки на матчи Dota 2 на The Boston Major вы сможете получить в нашей группе ВК: <a
                        href="https://vk.com/betsbyboss">vk.com/betsbyboss.</a>
                </p>
                <p>
                    Присоединяйся к нашему сообществу Bets by Boss и получай live аналитику на матчи Dota 2 каждый день!
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}