{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}">

                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;">
                        </a>
                    </li>
                    <li><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li class="active"><a href="{% url 'articles' %}">Статьи</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>The Boston Major EU/Asia</h1>
                <p>
                    В первой части статьи мы анализировали китайские команды.
Если вы еще не успели ее прочитать, то вы сможете найти ее на нашем сайте в разделе "Статьи".
                </p>
                <p>
                    Не смотря на то, что мы планируем делать преимущественно live ставки на Dota2 матчи на The Boston Major, я считаю, что очень важно провести детальный анализ игровой формы всех команд-участниц турнира, чтобы понимать в каком состоянии находится тот или иной коллектив.
                </p>
                <p>
                    В этой части мы проанализируем Европу и Юго-Восточную Азию.
                </p>

                <h2>Европа</h2>
                <h3>OG</h3>
                <p>
                    OG - единственная команда из Европы, которая получила прямой инвайт на The Boston Major.
                </p>
                <p>
                    Не смотря на существенные изменения в составе и очень неуверенный старт сезона, команде удалось найти свою игру и занять призовые места на нескольких последних турнирах и даже выиграть один из них.
                </p>
                <p>
                    OG - состав из очень опытных и скиловых игроков, который несомненно будет бороться за первой место в Бостоне.
                </p>
                <h3>Ad Finem</h3>
                <p>
                    Ad Finem - молодая греческая команда, которая не смотря на то, что дважды останавливалась в шаге от поездки на турниры от Valve, все же сохранила свой состав и, наконец, получила заветную путевку на The Boston Major, выйдя с первого места европейской квалификации.
                </p>
                <p>
                    Не думаю, что греки являются претендентами на победу на Мажоре, однако они являются той командой, которая способна дать бой любому из коллективов.
                </p>
                <h3>Virtus.pro</h3>
                <p>
                    Команда Virtus.pro стала настоящим открытием этого игрового сезона. Собранный из самых скиловых игроков СНГ, этот коллектив, выиграв The Summit 6,  доказал всем, что является одним из самых грозных соперников на Dota 2 сцене.
                </p>
                <p>
                    Virtus.pro - явный фаворит The Boston Major и один из претендентов на победу в турнире.
                </p>
                <h2>Юго-Восточная Азия</h2>

                <h3>MVP.Phoenix</h3>
                <p>

После достаточно удачного выступления в прошлом игровом сезоне, MVP.Phoenix потеряли 2 ключевых игроков на позициях Carry и Offlaine, которые перешли в Team Secret.
                </p>
                <p>
                В новом составе команде не удалось набрать былую форму их их игру сложно назвать стабильной.
                </p>
                <p>
                    Однако, после возвращения в состав Febby, команда попытается повторить свой былой успех.
                </p>
                <p>
                   Не думаю, что на данный момент MVP.Phoenix имеют высокие шансы на попадание в ТОП турнира, однако это коллектив, который способен удивлять.
                </p>
                <h3>Faceless</h3>
                <p>
                    Команда, которая ворвалась на про сцену и удивила своими отличными результатами.
                </p>
                <p>
                    Мне никогда не нравился игровой стиль Black'a, однако в данный момент он очень неплохо исполняет. В составе этого коллектива также играет опытнейший iceiceice, игра которого во многом помогла EHOME успешно выступить на TI6.
Думаю, что это тот коллектив, ставки на который и против которого будут наиболее рискованными, так как команда способна как переиграть фаворитов, так и проиграть явным аутсайдерам турнира.
                </p>
                <p>
                    В итоге, не думаю что данный состав может претендовать на призовые места, однако выбить одного из фаворитов турнира он способен!
                </p>
                <h3>WG.U</h3>
                <p>
                    Команда молодых скиловых ребят, которые, неожиданно для многих, прошли на The Boston Major.
                </p>
                <p>
                   С моей точки зрения, из-за нехватки опыта выступления на ивентах такого уровня, эта команда является аутсайдером данного турнира.
                </p>
                <h3>LGD</h3>
                <p>
                    Не смотря на то, что LGD являются представителями Китая, я решил проанализировать этот коллектив здесь, потому что именно они заменили Execration, которые не смогли принять участие в турнире из-за проблем с визами.
                </p>
                <p>
                    LGD стала той командой, которая претерпела наибольших изменений после неудачного выступления на TI6. Из предыдущего состава остался только Maybe, вокруг которого организации и выстроила новую команду, состоящую преимущественно из молодых игроков.
                </p>
                <p>
                    Команда выступает достаточно нестабильно, постепенно набирая свою игровую форму.
                </p>
                <p>
                    Сейчас LGD показывают неплохую игру, однако я не думаю, что этого хватит для того чтобы претендовать на призовые места на The Boston Major.
                </p>
                <p>
                    <br>В итоге, я не думаю что команды из Юго - Восточной Азии в нынешней форме могут реально претендовать на победу в Бостоне, в то время как OG и Virtus.pro - явные фавориты данного турнира.
                </p>
                <p>
                    Однако это Dota 2, и спрогнозировать победителя до начала встречи часто бывает очень сложно.
                </p>
                <p>
                    Именно поэтому, для того чтобы снизить риски и увеличить прибыль, мы делаем преимущественно live ставки, что дает нам возможность принимать решения не вслепую, а предварительно оценив игровую ситуацию на карте.
                </p>
                <p>
                    В заключительной третьей части мы проанализируем команды из американского региона.
                </p>
                <p>
                    Все live ставки на Dota 2 матчи на The Boston Major мы
                    будем давать в нашей группе ВКонтакте:
                    <a href="https://vk.com/betsbyboss">vk.com/betsbyboss.</a>
                </p>
                <p>
                    Присоединяйся к сообществу Bets by Boss и получай качественную live аналитику на матчи Dota 2 каждый день!
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}