{% extends 'bets/base.html' %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">
                            <img src="{% static 'bets/images/title.png' %}"
                                 style="max-height: 30px; margin-top: -15px;">
                        </a>
                    </li>
                    <li><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li class="active"><a href="{% url 'articles' %}">Статьи<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <div class="row">
                    <h3>The Boston Major USA</h3>
                    <p>
                        Мы продолжаем наш аналитический обзор команд-участниц The Boston Major.

В предыдущих двух частях мы проанализировали команды из Китая, Европы и SEA региона, а в этой статье мы рассмотрим команды из Америки.
                        <a href="{% url 'boston-major-usa' %}">
                            <br>Показать полностью...
                        </a>
                    </p>
                </div>
                <div class="row">
                    <h3>The Boston Major EU</h3>
                    <p>
                        В первой части статьи мы анализировали китайские команды.
                        Если вы еще не успели ее прочитать, то вы сможете найти ее на нашем сайте в разделе "Статьи".
                        Не смотря на то, что мы планируем делать преимущественно live ставки на Dota2 матчи на The
                        Boston Major, я считаю, что очень важно провести детальный анализ игровой формы всех
                        команд-участниц турнира, чтобы понимать в каком состоянии находится тот или иной коллектив.
                        В этой части мы проанализируем Европу и Юго-Восточную Азию.
                        <a href="{% url 'boston-major-europe' %}">
                            <br>Показать полностью...
                        </a>
                    </p>
                </div>
                <div class="row">
                    <h3>The Boston Major China</h3>
                    <p>
                        Третьего декабря в Бостоне стартует
                        последний Мажор этого календарного года!
                        Во время проведения данного турнира мы будем давать
                        live аналитику на большинство Dota 2 матчей!
                        А пока наша команда аналитиков решила проанализировать,
                        в какой форме каждая из команд подходит к главному
                        событию этой зимы
                        <a href="{% url 'boston-major' %}">
                            <br>Показать полностью...
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-2">
                <a href="https://ggbetpromo.com/l/5828a69a7fb3bcaa6e9f4057">
                    <img src="{% static 'bets/images/vertical_banner_articles.jpg' %}">
                </a>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}
